@import url('https://fonts.googleapis.com/css2?family=Roboto;600&display=swap');

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #111111;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

#main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
#wrap {
  width: 768px;
  display: grid; grid-template-columns: 1fr; gap: 80px 0;
}
.card img {
  width: 100%;
  margin: 0 0 40px 0;
}
.card .date {
  margin: 10px 0;
  opacity: 0.7;
}
.card .deskripsi {
  margin: 30px 0 20px 0;
  opacity: 0.7;
}
.card .cr {
  margin: 0 0 40px 0;
}